body{
    margin: 0;
    font-family: 'Poppins' ;
}
p{
    color: dimgray;
}
.red-highlight{
    color: deeppink;
    font-size: 50px;
    font-weight: bolder;
}
#top{
margin-top: 120px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url(images/header-bg.png);
    background-size: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 8px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.link-button:hover{
    font-size: 35px;
}
.biography{
    background-repeat: no-repeat;
    background-image: url(images/biography-bg.png);
    background-size: 100%;
}
#middle{
    margin-top: 120px;
}
.work{
    text-align: center;
}
.one-third-width{
    width: 20%;
    float: left;
    margin-left: 40px;
    padding: 10px;
    
}
.one-third-width img{
    width: 100%;
    height: 170px;
}
.one-third-width:hover{
    background-color: greenyellow;    
    height: 80%;
   
}

.latest-work{
    background-repeat: no-repeat;
    background-image: url(images/latest-work-bg.png);
    background-position: right;
    background-size: 80%;
    height: 250px;
}

.contact-client{
    text-align: center;
    background-image: url(images/footer-bg.png);
    height: 400px;
    background-size: 80%;
}
.contact{
    color: white;
    background-color: deeppink;
    margin: 15px 500px;
    padding: 8px 8px;
    border-radius: 8px;
}
.contact:hover{
    background-color: greenyellow;
    font-size: 15px;
}
.media{
    height: 100px;
    padding: 100px;
}
.social{
    width: 80px;
    float: left;
    margin-left: 10%;
    padding-left: 10%;
}
.social:hover{
    /* background-color: rgb(106, 255, 47); */
    font-size:  80px;
}
.social img{
    width: 100%;
}

footer{
    text-align: center;
    font-size: 12px;
}

